<div class="jumbotron">
    <div class="container">
        <h1>Hello {{memberName}} your project title is  {{projectName}}!</h1>
        <p>You are registered with an email address of {{memberEmail}}</p>
        <p>Well done! </p>

        <p>All registered ids {{memberId}}</p>
        
    </div>
    <table>
        
    </table>

</div>